@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

:root {
    --top-bar-height: 75px;
    --home-sidebar-width: 335px;
    --explore-sidebar-width: 394px;
    --sidebar-left-width: 237px;
    --sidebar-left-mobile-width: 64px;
    --scroll-height: calc(100vh - var(--top-bar-height) - 20px);

    --emerald-black-1-color: #03b79a;
    --red-black-1-color: #9a2c32;
    --yellow-black-1-color: #cb9a0a;
}

* {
    -webkit-tap-highlight-color: transparent;
}

body {
    text-rendering: optimizespeed;
    @apply text-black dark:text-white leading-base overflow-x-hidden font-base select-none;
    overflow-y: scroll;
}

.bg-blue-blue-white-4 {
    background: linear-gradient(
            0deg,
            rgba(255, 255, 255, 0.8),
            rgba(255, 255, 255, 0.8)
        ),
        #2365ff;
}

.bg-blue-blue-white-2 {
    background: linear-gradient(
            0deg,
            rgba(255, 255, 255, 0.4),
            rgba(255, 255, 255, 0.4)
        ),
        #2365ff;
}

.bg-dark-mude-white {
    background: linear-gradient(0deg, #ffffff, #ffffff), #736f72;
}

.bg-white-white-1 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)),
        #ffffff;
}

.hidden-scrollbar::-webkit-scrollbar {
    display: none;
}

// Scrollbar Overlay CSS
.overlay {
    overflow: overlay;
}

.overlay::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

.overlay::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.15);
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
}

.overlay:hover::-webkit-scrollbar-thumb {
    visibility: visible;
    opacity: 1;
}

.overlay::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

// Scrollbar custom
.scrollbar > div {
    transition: background-color ease 0.3s, top 0s;
}

// Hidden default icon
input::-ms-reveal,
input::-ms-clear {
    display: none;
}

// Custom date input
.dark ::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.dark .invert-icon {
    filter: invert(89%) sepia(6%) hue-rotate(185deg);
}

// Skeleton
span[aria-live='polite'] {
    display: flex;
}

.dark span.react-loading-skeleton {
    --base-color: #4c4c4c;
    --highlight-color: #333333;
}

span.react-loading-skeleton {
    & ~ br {
        display: none;
    }
}

// Animation
.animation-delay-300 {
    animation-delay: 300ms !important;
}

.animation-delay-600 {
    animation-delay: 600ms !important;
}
